SERVICE_BUS_CONNECTION_STRING=
SERVICE_BUS_QUEUE_NAME=highseverityqueue
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=
ALERT_EMAIL_FROM=your-email@gmail.com
ALERT_EMAIL_TO=your-email@gmail.com